  body{ 
    margin: 0;
    padding: 0;
    box-sizing: content-box;

  }
    
 h1 {
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-align: center;   
  margin-top: 30px;     
}

.Format {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  will-change: transform;
}
.clear{
  color: red;
  background-color: transparent ;
  border: 2px solid red;
}
.Format:disabled {
  pointer-events: none;
}

.Format:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.Format:active {
  box-shadow: none;
  transform: translateY(0);
}

main{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
 margin-top: 40px;
}

.actionbutton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

textarea{
  width: 40%;
  height: 400px;
  resize: none;
}

footer {
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 10px;
  text-align: center;   
  margin-top: 100px;    
}

